USE [master]
GO
/****** Object:  Database [FinTrack]    Script Date: 28/03/2026 11:28:35 ******/
CREATE DATABASE [FinTrack]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FinTrack', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\FinTrack.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FinTrack_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\FinTrack_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FinTrack].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FinTrack]
GO
/****** Object:  Table [dbo].[Banco]    Script Date: 28/03/2026 11:28:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banco](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Banco] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 28/03/2026 11:28:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Tipo] [bit] NOT NULL,
	[Nome] [varchar](100) NOT NULL,
	[IdUser] [int] NULL,
 CONSTRAINT [PK_Categoria] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Divida]    Script Date: 28/03/2026 11:28:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Divida](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdUser] [int] NOT NULL,
	[IdBanco] [int] NULL,
	[Descricao] [varchar](200) NOT NULL,
	[ValorTotal] [money] NOT NULL,
	[TaxaJuro] [decimal](5, 2) NULL,
	[DataInicio] [date] NOT NULL,
	[DataFinalEstimada] [date] NULL,
	[DataFinal] [date] NULL,
	[Pagando] [bit] NOT NULL,
	[ValorParcela] [money] NULL,
	[QntParcelas] [int] NULL,
	[QntParcelasPagas] [int] NOT NULL,
	[ValorVista] [money] NULL,
	[IdRecorrente] [int] NULL,
 CONSTRAINT [PK_Divida] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recorrente]    Script Date: 28/03/2026 11:28:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recorrente](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdUser] [int] NOT NULL,
	[Descricao] [varchar](100) NOT NULL,
	[IdCategoria] [int] NOT NULL,
	[Valor] [money] NOT NULL,
	[TipoVencimento] [int] NOT NULL,
	[DiaVencimento] [int] NOT NULL,
	[Ativo] [bit] NOT NULL,
 CONSTRAINT [PK_Recorrente] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transacao]    Script Date: 28/03/2026 11:28:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transacao](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdUser] [int] NOT NULL,
	[Desc] [varchar](max) NULL,
	[IdCategoria] [int] NOT NULL,
	[valor] [money] NOT NULL,
	[data] [datetime] NOT NULL,
 CONSTRAINT [PK_Transacao] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 28/03/2026 11:28:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](100) NOT NULL,
	[Email] [varchar](150) NOT NULL,
	[Senha] [varchar](255) NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Divida] ADD  DEFAULT ((0)) FOR [Pagando]
GO
ALTER TABLE [dbo].[Divida] ADD  DEFAULT ((0)) FOR [QntParcelasPagas]
GO
ALTER TABLE [dbo].[Recorrente] ADD  DEFAULT ((1)) FOR [TipoVencimento]
GO
ALTER TABLE [dbo].[Recorrente] ADD  DEFAULT ((1)) FOR [Ativo]
GO
ALTER TABLE [dbo].[Categoria]  WITH CHECK ADD  CONSTRAINT [FK_Categoria_Usuario] FOREIGN KEY([IdUser])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Categoria] CHECK CONSTRAINT [FK_Categoria_Usuario]
GO
ALTER TABLE [dbo].[Divida]  WITH CHECK ADD  CONSTRAINT [FK_Divida_Banco] FOREIGN KEY([IdBanco])
REFERENCES [dbo].[Banco] ([Id])
GO
ALTER TABLE [dbo].[Divida] CHECK CONSTRAINT [FK_Divida_Banco]
GO
ALTER TABLE [dbo].[Divida]  WITH CHECK ADD  CONSTRAINT [FK_Divida_Recorrente] FOREIGN KEY([IdRecorrente])
REFERENCES [dbo].[Recorrente] ([Id])
GO
ALTER TABLE [dbo].[Divida] CHECK CONSTRAINT [FK_Divida_Recorrente]
GO
ALTER TABLE [dbo].[Divida]  WITH CHECK ADD  CONSTRAINT [FK_Divida_Usuario] FOREIGN KEY([IdUser])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Divida] CHECK CONSTRAINT [FK_Divida_Usuario]
GO
ALTER TABLE [dbo].[Recorrente]  WITH CHECK ADD  CONSTRAINT [FK_Recorrente_Categoria] FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[Categoria] ([Id])
GO
ALTER TABLE [dbo].[Recorrente] CHECK CONSTRAINT [FK_Recorrente_Categoria]
GO
ALTER TABLE [dbo].[Recorrente]  WITH CHECK ADD  CONSTRAINT [FK_Recorrente_Usuario] FOREIGN KEY([IdUser])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Recorrente] CHECK CONSTRAINT [FK_Recorrente_Usuario]
GO
ALTER TABLE [dbo].[Transacao]  WITH CHECK ADD  CONSTRAINT [FK_Transacao_Categoria] FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[Categoria] ([Id])
GO
ALTER TABLE [dbo].[Transacao] CHECK CONSTRAINT [FK_Transacao_Categoria]
GO
ALTER TABLE [dbo].[Transacao]  WITH CHECK ADD  CONSTRAINT [FK_Transacao_Usuario] FOREIGN KEY([IdUser])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Transacao] CHECK CONSTRAINT [FK_Transacao_Usuario]
GO
/****** Object:  StoredProcedure [dbo].[FT_Banco_Del]    Script Date: 28/03/2026 11:28:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ================================================
-- Autor: Isac Macedo
-- Data criação: 25/03/2026
-- Descrição: Excluir Registros da Tabela Banco
-- ================================================

CREATE   PROCEDURE [dbo].[FT_Banco_Del](
	@Id INT = NULL
)
AS
BEGIN
	BEGIN TRY
		SET NOCOUNT ON

		DECLARE @MsgErro VARCHAR(255)

		IF @Id IS NULL
		BEGIN
			RAISERROR('Operação cancelada. Informe o ID do banco a ser excluído', 16, 1)
		END

		IF NOT EXISTS (
			SELECT Id
			FROM Banco
			WHERE Id = @Id
		)
		BEGIN
			RAISERROR('Operação cancelada. Não foi possível identificar o banco informado pelo ID %d', 16, 1, @Id)
		END

		IF EXISTS (
			SELECT Id
			FROM Divida
			WHERE IdBanco = @Id
		)
		BEGIN
			RAISERROR('Operação cancelada. Existem dívidas vinculadas a este banco', 16, 1)
		END

		DELETE FROM Banco
		WHERE Id = @Id

		RETURN 0
	END TRY
	BEGIN CATCH
		SET @MsgErro = ERROR_MESSAGE()
		RAISERROR(@MsgErro, 16, 1)

		RETURN 1
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[FT_Banco_Ins]    Script Date: 28/03/2026 11:28:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ================================================
-- Autor: Isac Macedo
-- Data criação: 25/03/2026
-- Descrição: Inserir Registros da Tabela Banco
-- ================================================

CREATE   PROCEDURE [dbo].[FT_Banco_Ins](
	@Id INT = NULL,
	@Nome VARCHAR(100) = NULL
)
AS
BEGIN
	BEGIN TRY
		SET NOCOUNT ON

		DECLARE @MsgErro VARCHAR(255), @Erro BIT

		IF NULLIF(TRIM(@Nome), '') IS NULL
		BEGIN
			RAISERROR(50001, 10, 1, 'nome', 'Informe o nome do banco')
			SET @Erro = 1
		END

		IF @Erro = 1 RETURN 1

		IF EXISTS (
			SELECT Id
			FROM Banco
			WHERE Nome = @Nome
		)
		BEGIN
			RAISERROR('Operação cancelada. Já existe um banco cadastrado com este nome', 16, 1)
		END

		INSERT INTO Banco(Nome)
		VALUES (@Nome)

		RETURN 0
	END TRY
	BEGIN CATCH
		SET @MsgErro = ERROR_MESSAGE()
		RAISERROR(@MsgErro, 16, 1)

		RETURN 1
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[FT_Banco_Sel]    Script Date: 28/03/2026 11:28:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ================================================================
-- BANCO
-- ================================================================

-- ================================================
-- Autor: Isac Macedo
-- Data criação: 25/03/2026
-- Descrição: Selecionar Registros da Tabela Banco
-- ================================================

CREATE   PROCEDURE [dbo].[FT_Banco_Sel]
AS
BEGIN
	BEGIN TRY
		SET NOCOUNT ON

		DECLARE @MsgErro VARCHAR(255)

		SELECT
			Id,
			Nome
		FROM Banco
		ORDER BY Nome

		RETURN 0
	END TRY
	BEGIN CATCH
		SET @MsgErro = ERROR_MESSAGE()
		RAISERROR(@MsgErro, 16, 1)

		RETURN 1
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[FT_Banco_Upt]    Script Date: 28/03/2026 11:28:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ================================================
-- Autor: Isac Macedo
-- Data criação: 25/03/2026
-- Descrição: Alterar Registros da Tabela Banco
-- ================================================

CREATE   PROCEDURE [dbo].[FT_Banco_Upt](
	@Id INT = NULL,
	@Nome VARCHAR(100) = NULL
)
AS
BEGIN
	BEGIN TRY
		SET NOCOUNT ON

		DECLARE @MsgErro VARCHAR(255), @Erro BIT

		IF NULLIF(TRIM(@Nome), '') IS NULL
		BEGIN
			RAISERROR(50001, 10, 1, 'nome', 'Informe o nome do banco')
			SET @Erro = 1
		END

		IF @Erro = 1 RETURN 1

		IF @Id IS NULL
		BEGIN
			RAISERROR('Operação cancelada. Informe o ID do banco', 16, 1)
		END

		IF NOT EXISTS (
			SELECT Id
			FROM Banco
			WHERE Id = @Id
		)
		BEGIN
			RAISERROR('Operação cancelada. Não foi possível identificar o banco informado pelo ID %d', 16, 1, @Id)
		END

		IF EXISTS (
			SELECT Id
			FROM Banco
			WHERE Nome = @Nome AND Id != @Id
		)
		BEGIN
			RAISERROR('Operação cancelada. Já existe outro banco cadastrado com este nome', 16, 1)
		END

		UPDATE Banco SET
			Nome = @Nome
		WHERE Id = @Id

		RETURN 0
	END TRY
	BEGIN CATCH
		SET @MsgErro = ERROR_MESSAGE()
		RAISERROR(@MsgErro, 16, 1)

		RETURN 1
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[FT_Categoria_Del]    Script Date: 28/03/2026 11:28:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ================================================
-- Autor: Isac Macedo
-- Data criação: 25/03/2026
-- Descrição: Excluir Registros da Tabela Categoria
-- ================================================

CREATE   PROCEDURE [dbo].[FT_Categoria_Del](
	@Id INT = NULL,
	@IdUser INT = NULL
)
AS
BEGIN
	BEGIN TRY
		SET NOCOUNT ON

		DECLARE @MsgErro VARCHAR(255)

		IF @Id IS NULL
		BEGIN
			RAISERROR('Operação cancelada. Informe o ID da categoria a ser excluída', 16, 1)
		END

		IF NOT EXISTS (
			SELECT Id
			FROM Categoria
			WHERE Id = @Id
		)
		BEGIN
			RAISERROR('Operação cancelada. Não foi possível identificar a categoria informada pelo ID %d', 16, 1, @Id)
		END

		IF @IdUser IS NULL
		BEGIN
			RAISERROR('Operação cancelada. Usuário nulo', 16, 1)
		END

		-- Não permite excluir categorias padrão do sistema
		IF EXISTS (
			SELECT Id
			FROM Categoria
			WHERE Id = @Id AND IdUser IS NULL
		)
		BEGIN
			RAISERROR('Operação cancelada. Não é permitido excluir categorias padrão do sistema', 16, 1)
		END

		-- Verifica se existem transações usando esta categoria
		IF EXISTS (
			SELECT Id
			FROM Transacao
			WHERE IdCategoria = @Id
		)
		BEGIN
			RAISERROR('Operação cancelada. Existem transações vinculadas a esta categoria', 16, 1)
		END

		DELETE FROM Categoria
		WHERE Id = @Id AND IdUser = @IdUser

		RETURN 0
	END TRY
	BEGIN CATCH
		SET @MsgErro = ERROR_MESSAGE()
		RAISERROR(@MsgErro, 16, 1)

		RETURN 1
	END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[FT_Categoria_Ins]    Script Date: 28/03/2026 11:28:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ================================================
-- Autor: Isac Macedo
-- Data criação: 25/03/2026
-- Descrição: Inserir Registros da Tabela Categoria
-- ================================================

CREATE   PROCEDURE [dbo].[FT_Categoria_Ins](
	@Id INT = NULL,
	@Tipo BIT = NULL,
	@Nome VARCHAR(100) = NULL,
	@IdUser INT = NULL
)
AS
BEGIN
	BEGIN TRY
		SET NOCOUNT ON

		DECLARE @MsgErro VARCHAR(255), @Erro BIT

		IF @Tipo IS NULL
		BEGIN
			RAISERROR(50001, 10, 1, 'tipo', 'Selecione o tipo da categoria (receita ou despesa)')
			SET @Erro = 1
		END

		IF NULLIF(TRIM(@Nome), '') IS NULL
		BEGIN
			RAISERROR(50001, 10, 1, 'nome', 'Informe o nome da categoria')
			SET @Erro = 1
		END

		IF LEN(@Nome) < 3
		BEGIN
			RAISERROR(50001, 10, 1, 'nome', 'O nome da categoria deve ter pelo menos 3 caracteres')
			SET @Erro = 1
		END

		IF @Erro = 1 RETURN 1

		IF @IdUser IS NULL
		BEGIN
			RAISERROR('Operação cancelada. Usuário nulo', 16, 1)
		END

		IF EXISTS (
			SELECT Id
			FROM Categoria
			WHERE Nome = @Nome AND Tipo = @Tipo AND (IdUser = @IdUser OR IdUser IS NULL)
		)
		BEGIN
			RAISERROR('Operação cancelada. Já existe uma categoria com este nome para este tipo', 16, 1)
		END

		INSERT INTO Categoria(Tipo, Nome, IdUser)
		VALUES (@Tipo, @Nome, @IdUser)

		RETURN 0
	END TRY
	BEGIN CATCH
		SET @MsgErro = ERROR_MESSAGE()
		RAISERROR(@MsgErro, 16, 1)

		RETURN 1
	END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[FT_Categoria_Sel]    Script Date: 28/03/2026 11:28:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ================================================
-- Autor: Isac Macedo
-- Data criação: 25/03/2026
-- Descrição: Selecionar Registros da Tabela Categoria
-- ================================================

CREATE   PROCEDURE [dbo].[FT_Categoria_Sel](
	@IdUser INT = NULL
)
AS
BEGIN
	BEGIN TRY
		SET NOCOUNT ON

		DECLARE @MsgErro VARCHAR(255)

		IF @IdUser IS NULL
		BEGIN
			RAISERROR('Operação cancelada. Usuário nulo', 16, 1)
		END

		SELECT
			Id,
			Tipo,
			Nome,
			IdUser
		FROM Categoria
		WHERE IdUser = @IdUser OR IdUser IS NULL

		RETURN 0
	END TRY
	BEGIN CATCH
		SET @MsgErro = ERROR_MESSAGE()
		RAISERROR(@MsgErro, 16, 1)

		RETURN 1
	END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[FT_Categoria_Upt]    Script Date: 28/03/2026 11:28:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ================================================
-- Autor: Isac Macedo
-- Data criação: 25/03/2026
-- Descrição: Alterar Registros da Tabela Categoria
-- ================================================

CREATE   PROCEDURE [dbo].[FT_Categoria_Upt](
	@Id INT = NULL,
	@Tipo BIT = NULL,
	@Nome VARCHAR(100) = NULL,
	@IdUser INT = NULL
)
AS
BEGIN
	BEGIN TRY
		SET NOCOUNT ON

		DECLARE @MsgErro VARCHAR(255), @Erro BIT

		IF @Tipo IS NULL
		BEGIN
			RAISERROR(50001, 10, 1, 'tipo', 'Selecione o tipo da categoria (receita ou despesa)')
			SET @Erro = 1
		END

		IF NULLIF(TRIM(@Nome), '') IS NULL
		BEGIN
			RAISERROR(50001, 10, 1, 'nome', 'Informe o nome da categoria')
			SET @Erro = 1
		END

		IF LEN(@Nome) < 3
		BEGIN
			RAISERROR(50001, 10, 1, 'nome', 'O nome da categoria deve ter pelo menos 3 caracteres')
			SET @Erro = 1
		END

		IF @Erro = 1 RETURN 1

		IF @Id IS NULL
		BEGIN
			RAISERROR('Operação cancelada. Informe o ID da categoria', 16, 1)
		END

		IF NOT EXISTS (
			SELECT Id
			FROM Categoria
			WHERE Id = @Id
		)
		BEGIN
			RAISERROR('Operação cancelada. Não foi possível identificar a categoria informada pelo ID %d', 16, 1, @Id)
		END

		IF @IdUser IS NULL
		BEGIN
			RAISERROR('Operação cancelada. Usuário nulo', 16, 1)
		END

		-- Não permite editar categorias padrão do sistema
		IF EXISTS (
			SELECT Id
			FROM Categoria
			WHERE Id = @Id AND IdUser IS NULL
		)
		BEGIN
			RAISERROR('Operação cancelada. Não é permitido alterar categorias padrão do sistema', 16, 1)
		END

		IF EXISTS (
			SELECT Id
			FROM Categoria
			WHERE Nome = @Nome AND Tipo = @Tipo AND Id != @Id AND (IdUser = @IdUser OR IdUser IS NULL)
		)
		BEGIN
			RAISERROR('Operação cancelada. Já existe uma categoria com este nome para este tipo', 16, 1)
		END

		UPDATE Categoria SET
			Tipo = @Tipo,
			Nome = @Nome
		WHERE Id = @Id AND IdUser = @IdUser

		RETURN 0
	END TRY
	BEGIN CATCH
		SET @MsgErro = ERROR_MESSAGE()
		RAISERROR(@MsgErro, 16, 1)

		RETURN 1
	END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[FT_Divida_Del]    Script Date: 28/03/2026 11:28:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ================================================
-- Autor: Isac Macedo
-- Data criação: 25/03/2026
-- Descrição: Excluir Registros da Tabela Divida
-- ================================================

CREATE   PROCEDURE [dbo].[FT_Divida_Del](
	@Id INT = NULL,
	@IdUser INT = NULL
)
AS
BEGIN
	BEGIN TRY
		SET NOCOUNT ON

		DECLARE @MsgErro VARCHAR(255)
		DECLARE @IdRecorrente INT

		IF @Id IS NULL
		BEGIN
			RAISERROR('Operação cancelada. Informe o ID da dívida a ser excluída', 16, 1)
		END

		IF @IdUser IS NULL
		BEGIN
			RAISERROR('Operação cancelada. Usuário nulo', 16, 1)
		END

		-- Busca recorrente vinculado antes de excluir
		SELECT @IdRecorrente = IdRecorrente
		FROM Divida
		WHERE Id = @Id AND IdUser = @IdUser

		IF @IdRecorrente IS NULL AND NOT EXISTS (
			SELECT Id
			FROM Divida
			WHERE Id = @Id AND IdUser = @IdUser
		)
		BEGIN
			RAISERROR('Operação cancelada. Não foi possível identificar a dívida informada pelo ID %d', 16, 1, @Id)
		END

		-- Exclui a dívida primeiro (por causa da FK)
		DELETE FROM Divida
		WHERE Id = @Id AND IdUser = @IdUser

		-- Exclui o recorrente vinculado se existir
		IF @IdRecorrente IS NOT NULL
		BEGIN
			DELETE FROM Recorrente
			WHERE Id = @IdRecorrente AND IdUser = @IdUser
		END

		RETURN 0
	END TRY
	BEGIN CATCH
		SET @MsgErro = ERROR_MESSAGE()
		RAISERROR(@MsgErro, 16, 1)

		RETURN 1
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[FT_Divida_Ins]    Script Date: 28/03/2026 11:28:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ================================================
-- Autor: Isac Macedo
-- Data criação: 25/03/2026
-- Descrição: Inserir Registros da Tabela Divida
-- Se Pagando = 1, cria um Recorrente automaticamente
-- ================================================

CREATE   PROCEDURE [dbo].[FT_Divida_Ins](
	@Id INT = NULL,
	@IdUser INT = NULL,
	@IdBanco INT = NULL,
	@Descricao VARCHAR(200) = NULL,
	@ValorTotal MONEY = NULL,
	@TaxaJuro DECIMAL(5,2) = NULL,
	@DataInicio DATE = NULL,
	@DataFinalEstimada DATE = NULL,
	@Pagando BIT = 0,
	@ValorParcela MONEY = NULL,
	@QntParcelas INT = NULL,
	@ValorVista MONEY = NULL,
	@IdCategoria INT = NULL,
	@DiaVencimento INT = NULL
)
AS
BEGIN
	BEGIN TRY
		SET NOCOUNT ON

		DECLARE @MsgErro VARCHAR(255), @Erro BIT, @IdRecorrente INT = NULL

		IF NULLIF(TRIM(@Descricao), '') IS NULL
		BEGIN
			RAISERROR(50001, 10, 1, 'descricao', 'Informe a descrição da dívida')
			SET @Erro = 1
		END

		IF @ValorTotal IS NULL OR @ValorTotal <= 0
		BEGIN
			RAISERROR(50001, 10, 1, 'valorTotal', 'Informe o valor total da dívida')
			SET @Erro = 1
		END

		IF @DataInicio IS NULL
		BEGIN
			RAISERROR(50001, 10, 1, 'dataInicio', 'Informe a data de início da dívida')
			SET @Erro = 1
		END

		IF @Pagando = 1
		BEGIN
			IF @ValorParcela IS NULL OR @ValorParcela <= 0
			BEGIN
				RAISERROR(50001, 10, 1, 'valorParcela', 'Informe o valor da parcela')
				SET @Erro = 1
			END

			IF @QntParcelas IS NULL OR @QntParcelas <= 0
			BEGIN
				RAISERROR(50001, 10, 1, 'qntParcelas', 'Informe a quantidade de parcelas')
				SET @Erro = 1
			END

			IF @IdCategoria IS NULL
			BEGIN
				RAISERROR(50001, 10, 1, 'idCategoria', 'Selecione uma categoria para a recorrência')
				SET @Erro = 1
			END

			IF @DiaVencimento IS NULL OR @DiaVencimento < 1 OR @DiaVencimento > 31
			BEGIN
				RAISERROR(50001, 10, 1, 'diaVencimento', 'Informe o dia de vencimento da parcela (1 a 31)')
				SET @Erro = 1
			END
		END

		IF @Erro = 1 RETURN 1

		IF @IdUser IS NULL
		BEGIN
			RAISERROR('Operação cancelada. Usuário nulo', 16, 1)
		END

		IF @IdBanco IS NOT NULL AND NOT EXISTS (
			SELECT Id
			FROM Banco
			WHERE Id = @IdBanco
		)
		BEGIN
			RAISERROR('Operação cancelada. Não foi possível identificar o banco informado pelo ID %d', 16, 1, @IdBanco)
		END

		-- Se está pagando, cria o recorrente
		IF @Pagando = 1
		BEGIN
			INSERT INTO Recorrente(IdUser, Descricao, IdCategoria, Valor, TipoVencimento, DiaVencimento, Ativo)
			VALUES (@IdUser, @Descricao, @IdCategoria, @ValorParcela, 1, @DiaVencimento, 1)

			SET @IdRecorrente = SCOPE_IDENTITY()
		END

		INSERT INTO Divida(IdUser, IdBanco, Descricao, ValorTotal, TaxaJuro, DataInicio, DataFinalEstimada, DataFinal, Pagando, ValorParcela, QntParcelas, QntParcelasPagas, ValorVista, IdRecorrente)
		VALUES (@IdUser, @IdBanco, @Descricao, @ValorTotal, @TaxaJuro, @DataInicio, @DataFinalEstimada, NULL, @Pagando, @ValorParcela, @QntParcelas, 0, @ValorVista, @IdRecorrente)

		RETURN 0
	END TRY
	BEGIN CATCH
		SET @MsgErro = ERROR_MESSAGE()
		RAISERROR(@MsgErro, 16, 1)

		RETURN 1
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[FT_Divida_Sel]    Script Date: 28/03/2026 11:28:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ================================================================
-- DIVIDA
-- ================================================================

-- ================================================
-- Autor: Isac Macedo
-- Data criação: 25/03/2026
-- Descrição: Selecionar Registros da Tabela Divida
-- ================================================

CREATE   PROCEDURE [dbo].[FT_Divida_Sel](
	@IdUser INT = NULL
)
AS
BEGIN
	BEGIN TRY
		SET NOCOUNT ON

		DECLARE @MsgErro VARCHAR(255)

		IF @IdUser IS NULL
		BEGIN
			RAISERROR('Operação cancelada. Usuário nulo', 16, 1)
		END

		SELECT
			D.Id,
			D.Descricao,
			D.IdBanco,
			B.Nome AS NomeBanco,
			D.ValorTotal,
			D.TaxaJuro,
			D.DataInicio,
			D.DataFinalEstimada,
			D.DataFinal,
			D.Pagando,
			D.ValorParcela,
			D.QntParcelas,
			D.QntParcelasPagas,
			D.ValorVista,
			D.IdRecorrente
		FROM Divida D
		LEFT JOIN Banco B ON B.Id = D.IdBanco
		WHERE D.IdUser = @IdUser
		ORDER BY D.Pagando DESC, D.DataInicio DESC

		RETURN 0
	END TRY
	BEGIN CATCH
		SET @MsgErro = ERROR_MESSAGE()
		RAISERROR(@MsgErro, 16, 1)

		RETURN 1
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[FT_Divida_Upt]    Script Date: 28/03/2026 11:28:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ================================================
-- Autor: Isac Macedo
-- Data criação: 25/03/2026
-- Descrição: Alterar Registros da Tabela Divida
-- Gerencia o Recorrente vinculado automaticamente
-- ================================================

CREATE   PROCEDURE [dbo].[FT_Divida_Upt](
	@Id INT = NULL,
	@IdUser INT = NULL,
	@IdBanco INT = NULL,
	@Descricao VARCHAR(200) = NULL,
	@ValorTotal MONEY = NULL,
	@TaxaJuro DECIMAL(5,2) = NULL,
	@DataInicio DATE = NULL,
	@DataFinalEstimada DATE = NULL,
	@DataFinal DATE = NULL,
	@Pagando BIT = 0,
	@ValorParcela MONEY = NULL,
	@QntParcelas INT = NULL,
	@QntParcelasPagas INT = NULL,
	@ValorVista MONEY = NULL,
	@IdCategoria INT = NULL,
	@DiaVencimento INT = NULL
)
AS
BEGIN
	BEGIN TRY
		SET NOCOUNT ON

		DECLARE @MsgErro VARCHAR(255), @Erro BIT
		DECLARE @IdRecorrente INT, @PagandoAtual BIT

		IF NULLIF(TRIM(@Descricao), '') IS NULL
		BEGIN
			RAISERROR(50001, 10, 1, 'descricao', 'Informe a descrição da dívida')
			SET @Erro = 1
		END

		IF @ValorTotal IS NULL OR @ValorTotal <= 0
		BEGIN
			RAISERROR(50001, 10, 1, 'valorTotal', 'Informe o valor total da dívida')
			SET @Erro = 1
		END

		IF @DataInicio IS NULL
		BEGIN
			RAISERROR(50001, 10, 1, 'dataInicio', 'Informe a data de início da dívida')
			SET @Erro = 1
		END

		IF @Pagando = 1
		BEGIN
			IF @ValorParcela IS NULL OR @ValorParcela <= 0
			BEGIN
				RAISERROR(50001, 10, 1, 'valorParcela', 'Informe o valor da parcela')
				SET @Erro = 1
			END

			IF @QntParcelas IS NULL OR @QntParcelas <= 0
			BEGIN
				RAISERROR(50001, 10, 1, 'qntParcelas', 'Informe a quantidade de parcelas')
				SET @Erro = 1
			END

			IF @IdCategoria IS NULL
			BEGIN
				RAISERROR(50001, 10, 1, 'idCategoria', 'Selecione uma categoria para a recorrência')
				SET @Erro = 1
			END

			IF @DiaVencimento IS NULL OR @DiaVencimento < 1 OR @DiaVencimento > 31
			BEGIN
				RAISERROR(50001, 10, 1, 'diaVencimento', 'Informe o dia de vencimento da parcela (1 a 31)')
				SET @Erro = 1
			END
		END

		IF @Erro = 1 RETURN 1

		IF @Id IS NULL
		BEGIN
			RAISERROR('Operação cancelada. Informe o ID da dívida', 16, 1)
		END

		IF @IdUser IS NULL
		BEGIN
			RAISERROR('Operação cancelada. Usuário nulo', 16, 1)
		END

		-- Busca dados atuais da dívida
		SELECT
			@IdRecorrente = IdRecorrente,
			@PagandoAtual = Pagando
		FROM Divida
		WHERE Id = @Id AND IdUser = @IdUser

		IF @IdRecorrente IS NULL AND @PagandoAtual IS NULL
		BEGIN
			RAISERROR('Operação cancelada. Não foi possível identificar a dívida informada pelo ID %d', 16, 1, @Id)
		END

		-- Gerencia o recorrente vinculado
		-- Caso 1: Não estava pagando e agora vai pagar -> Cria recorrente
		IF @PagandoAtual = 0 AND @Pagando = 1
		BEGIN
			IF @IdRecorrente IS NULL
			BEGIN
				INSERT INTO Recorrente(IdUser, Descricao, IdCategoria, Valor, TipoVencimento, DiaVencimento, Ativo)
				VALUES (@IdUser, @Descricao, @IdCategoria, @ValorParcela, 1, @DiaVencimento, 1)

				SET @IdRecorrente = SCOPE_IDENTITY()
			END
			ELSE
			BEGIN
				-- Reativa o recorrente existente e atualiza valores
				UPDATE Recorrente SET
					Descricao = @Descricao,
					IdCategoria = @IdCategoria,
					Valor = @ValorParcela,
					DiaVencimento = @DiaVencimento,
					Ativo = 1
				WHERE Id = @IdRecorrente AND IdUser = @IdUser
			END
		END

		-- Caso 2: Estava pagando e vai parar -> Desativa recorrente
		IF @PagandoAtual = 1 AND @Pagando = 0 AND @IdRecorrente IS NOT NULL
		BEGIN
			UPDATE Recorrente SET
				Ativo = 0
			WHERE Id = @IdRecorrente AND IdUser = @IdUser
		END

		-- Caso 3: Continua pagando -> Atualiza valores do recorrente
		IF @PagandoAtual = 1 AND @Pagando = 1 AND @IdRecorrente IS NOT NULL
		BEGIN
			UPDATE Recorrente SET
				Descricao = @Descricao,
				IdCategoria = @IdCategoria,
				Valor = @ValorParcela,
				DiaVencimento = @DiaVencimento
			WHERE Id = @IdRecorrente AND IdUser = @IdUser
		END

		-- Se está quitando (DataFinal preenchida), desativa o recorrente
		IF @DataFinal IS NOT NULL AND @IdRecorrente IS NOT NULL
		BEGIN
			UPDATE Recorrente SET
				Ativo = 0
			WHERE Id = @IdRecorrente AND IdUser = @IdUser

			SET @Pagando = 0
		END

		UPDATE Divida SET
			IdBanco = @IdBanco,
			Descricao = @Descricao,
			ValorTotal = @ValorTotal,
			TaxaJuro = @TaxaJuro,
			DataInicio = @DataInicio,
			DataFinalEstimada = @DataFinalEstimada,
			DataFinal = @DataFinal,
			Pagando = @Pagando,
			ValorParcela = @ValorParcela,
			QntParcelas = @QntParcelas,
			QntParcelasPagas = @QntParcelasPagas,
			ValorVista = @ValorVista,
			IdRecorrente = @IdRecorrente
		WHERE Id = @Id AND IdUser = @IdUser

		RETURN 0
	END TRY
	BEGIN CATCH
		SET @MsgErro = ERROR_MESSAGE()
		RAISERROR(@MsgErro, 16, 1)

		RETURN 1
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[FT_Recorrente_Del]    Script Date: 28/03/2026 11:28:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ================================================
-- Autor: Isac Macedo
-- Data criação: 25/03/2026
-- Descrição: Excluir Registros da Tabela Recorrente
-- ================================================

CREATE   PROCEDURE [dbo].[FT_Recorrente_Del](
	@Id INT = NULL,
	@IdUser INT = NULL
)
AS
BEGIN
	BEGIN TRY
		SET NOCOUNT ON

		DECLARE @MsgErro VARCHAR(255)

		IF @Id IS NULL
		BEGIN
			RAISERROR('Operação cancelada. Informe o ID da recorrência a ser excluída', 16, 1)
		END

		IF @IdUser IS NULL
		BEGIN
			RAISERROR('Operação cancelada. Usuário nulo', 16, 1)
		END

		IF NOT EXISTS (
			SELECT Id
			FROM Recorrente
			WHERE Id = @Id AND IdUser = @IdUser
		)
		BEGIN
			RAISERROR('Operação cancelada. Não foi possível identificar a recorrência informada pelo ID %d', 16, 1, @Id)
		END

		-- Verifica se tem dívida vinculada
		IF EXISTS (
			SELECT Id
			FROM Divida
			WHERE IdRecorrente = @Id
		)
		BEGIN
			RAISERROR('Operação cancelada. Existe uma dívida vinculada a esta recorrência. Desative-a em vez de excluir', 16, 1)
		END

		DELETE FROM Recorrente
		WHERE Id = @Id AND IdUser = @IdUser

		RETURN 0
	END TRY
	BEGIN CATCH
		SET @MsgErro = ERROR_MESSAGE()
		RAISERROR(@MsgErro, 16, 1)

		RETURN 1
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[FT_Recorrente_Ins]    Script Date: 28/03/2026 11:28:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ================================================
-- Autor: Isac Macedo
-- Data criação: 25/03/2026
-- Descrição: Inserir Registros da Tabela Recorrente
-- ================================================

CREATE   PROCEDURE [dbo].[FT_Recorrente_Ins](
	@Id INT = NULL,
	@IdUser INT = NULL,
	@Descricao VARCHAR(100) = NULL,
	@IdCategoria INT = NULL,
	@Valor MONEY = NULL,
	@TipoVencimento INT = 1,
	@DiaVencimento INT = NULL
)
AS
BEGIN
	BEGIN TRY
		SET NOCOUNT ON

		DECLARE @MsgErro VARCHAR(255), @Erro BIT

		IF NULLIF(TRIM(@Descricao), '') IS NULL
		BEGIN
			RAISERROR(50001, 10, 1, 'descricao', 'Informe a descrição')
			SET @Erro = 1
		END

		IF @IdCategoria IS NULL
		BEGIN
			RAISERROR(50001, 10, 1, 'idCategoria', 'Selecione uma categoria')
			SET @Erro = 1
		END

		IF @Valor IS NULL OR @Valor <= 0
		BEGIN
			RAISERROR(50001, 10, 1, 'valor', 'Informe um valor maior que zero')
			SET @Erro = 1
		END

		IF @DiaVencimento IS NULL OR @DiaVencimento < 1 OR @DiaVencimento > 31
		BEGIN
			RAISERROR(50001, 10, 1, 'diaVencimento', 'Informe um dia de vencimento válido (1 a 31)')
			SET @Erro = 1
		END

		IF @Erro = 1 RETURN 1

		IF @IdUser IS NULL
		BEGIN
			RAISERROR('Operação cancelada. Usuário nulo', 16, 1)
		END

		IF NOT EXISTS (
			SELECT Id
			FROM Categoria
			WHERE Id = @IdCategoria AND (IdUser = @IdUser OR IdUser IS NULL)
		)
		BEGIN
			RAISERROR('Operação cancelada. Não foi possível identificar a categoria informada pelo ID %d', 16, 1, @IdCategoria)
		END

		INSERT INTO Recorrente(IdUser, Descricao, IdCategoria, Valor, TipoVencimento, DiaVencimento, Ativo)
		VALUES (@IdUser, @Descricao, @IdCategoria, @Valor, @TipoVencimento, @DiaVencimento, 1)

		-- Retorna o Id inserido (útil pra vincular com Divida)
		SELECT SCOPE_IDENTITY() AS Id

		RETURN 0
	END TRY
	BEGIN CATCH
		SET @MsgErro = ERROR_MESSAGE()
		RAISERROR(@MsgErro, 16, 1)

		RETURN 1
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[FT_Recorrente_Sel]    Script Date: 28/03/2026 11:28:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ================================================================
-- RECORRENTE
-- ================================================================

-- ================================================
-- Autor: Isac Macedo
-- Data criação: 25/03/2026
-- Descrição: Selecionar Registros da Tabela Recorrente
-- ================================================

CREATE   PROCEDURE [dbo].[FT_Recorrente_Sel](
	@IdUser INT = NULL
)
AS
BEGIN
	BEGIN TRY
		SET NOCOUNT ON

		DECLARE @MsgErro VARCHAR(255)

		IF @IdUser IS NULL
		BEGIN
			RAISERROR('Operação cancelada. Usuário nulo', 16, 1)
		END

		SELECT
			R.Id,
			R.Descricao,
			R.IdCategoria,
			C.Nome AS NomeCategoria,
			C.Tipo,
			R.Valor,
			R.TipoVencimento,
			R.DiaVencimento,
			R.Ativo
		FROM Recorrente R
		INNER JOIN Categoria C ON C.Id = R.IdCategoria
		WHERE R.IdUser = @IdUser
		ORDER BY R.DiaVencimento

		RETURN 0
	END TRY
	BEGIN CATCH
		SET @MsgErro = ERROR_MESSAGE()
		RAISERROR(@MsgErro, 16, 1)

		RETURN 1
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[FT_Recorrente_Upt]    Script Date: 28/03/2026 11:28:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ================================================
-- Autor: Isac Macedo
-- Data criação: 25/03/2026
-- Descrição: Alterar Registros da Tabela Recorrente
-- ================================================

CREATE   PROCEDURE [dbo].[FT_Recorrente_Upt](
	@Id INT = NULL,
	@IdUser INT = NULL,
	@Descricao VARCHAR(100) = NULL,
	@IdCategoria INT = NULL,
	@Valor MONEY = NULL,
	@TipoVencimento INT = 1,
	@DiaVencimento INT = NULL,
	@Ativo BIT = NULL
)
AS
BEGIN
	BEGIN TRY
		SET NOCOUNT ON

		DECLARE @MsgErro VARCHAR(255), @Erro BIT

		IF NULLIF(TRIM(@Descricao), '') IS NULL
		BEGIN
			RAISERROR(50001, 10, 1, 'descricao', 'Informe a descrição')
			SET @Erro = 1
		END

		IF @IdCategoria IS NULL
		BEGIN
			RAISERROR(50001, 10, 1, 'idCategoria', 'Selecione uma categoria')
			SET @Erro = 1
		END

		IF @Valor IS NULL OR @Valor <= 0
		BEGIN
			RAISERROR(50001, 10, 1, 'valor', 'Informe um valor maior que zero')
			SET @Erro = 1
		END

		IF @DiaVencimento IS NULL OR @DiaVencimento < 1 OR @DiaVencimento > 31
		BEGIN
			RAISERROR(50001, 10, 1, 'diaVencimento', 'Informe um dia de vencimento válido (1 a 31)')
			SET @Erro = 1
		END

		IF @Ativo IS NULL
		BEGIN
			RAISERROR(50001, 10, 1, 'ativo', 'Informe se a recorrência está ativa')
			SET @Erro = 1
		END

		IF @Erro = 1 RETURN 1

		IF @Id IS NULL
		BEGIN
			RAISERROR('Operação cancelada. Informe o ID da recorrência', 16, 1)
		END

		IF @IdUser IS NULL
		BEGIN
			RAISERROR('Operação cancelada. Usuário nulo', 16, 1)
		END

		IF NOT EXISTS (
			SELECT Id
			FROM Recorrente
			WHERE Id = @Id AND IdUser = @IdUser
		)
		BEGIN
			RAISERROR('Operação cancelada. Não foi possível identificar a recorrência informada pelo ID %d', 16, 1, @Id)
		END

		IF NOT EXISTS (
			SELECT Id
			FROM Categoria
			WHERE Id = @IdCategoria AND (IdUser = @IdUser OR IdUser IS NULL)
		)
		BEGIN
			RAISERROR('Operação cancelada. Não foi possível identificar a categoria informada pelo ID %d', 16, 1, @IdCategoria)
		END

		UPDATE Recorrente SET
			Descricao = @Descricao,
			IdCategoria = @IdCategoria,
			Valor = @Valor,
			TipoVencimento = @TipoVencimento,
			DiaVencimento = @DiaVencimento,
			Ativo = @Ativo
		WHERE Id = @Id AND IdUser = @IdUser

		RETURN 0
	END TRY
	BEGIN CATCH
		SET @MsgErro = ERROR_MESSAGE()
		RAISERROR(@MsgErro, 16, 1)

		RETURN 1
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[FT_Transacao_Del]    Script Date: 28/03/2026 11:28:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ================================================
-- Autor: Isac Macedo
-- Data criação: 25/03/2026
-- Descrição: Excluir Registros da Tabela Transacao
-- ================================================

CREATE   PROCEDURE [dbo].[FT_Transacao_Del](
	@Id INT = NULL,
	@IdUser INT = NULL
)
AS
BEGIN
	BEGIN TRY
		SET NOCOUNT ON

		DECLARE @MsgErro VARCHAR(255)

		IF @Id IS NULL
		BEGIN
			RAISERROR('Operação cancelada. Informe o ID da transação a ser excluída', 16, 1)
		END

		IF @IdUser IS NULL
		BEGIN
			RAISERROR('Operação cancelada. Usuário nulo', 16, 1)
		END

		IF NOT EXISTS (
			SELECT Id
			FROM Transacao
			WHERE Id = @Id AND IdUser = @IdUser
		)
		BEGIN
			RAISERROR('Operação cancelada. Não foi possível identificar a transação informada pelo ID %d', 16, 1, @Id)
		END

		DELETE FROM Transacao
		WHERE Id = @Id AND IdUser = @IdUser

		RETURN 0
	END TRY
	BEGIN CATCH
		SET @MsgErro = ERROR_MESSAGE()
		RAISERROR(@MsgErro, 16, 1)

		RETURN 1
	END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[FT_Transacao_Ins]    Script Date: 28/03/2026 11:28:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ================================================
-- Autor: Isac Macedo
-- Data criação: 25/03/2026
-- Descrição: Inserir Registros da Tabela Transacao
-- ================================================

CREATE   PROCEDURE [dbo].[FT_Transacao_Ins](
	@Id INT = NULL,
	@IdUser INT = NULL,
	@Desc VARCHAR(MAX) = NULL,
	@IdCategoria INT = NULL,
	@Valor MONEY = NULL,
	@Data DATETIME = NULL
)
AS
BEGIN
	BEGIN TRY
		SET NOCOUNT ON

		DECLARE @MsgErro VARCHAR(255), @Erro BIT

		IF @IdCategoria IS NULL
		BEGIN
			RAISERROR(50001, 10, 1, 'idCategoria', 'Selecione uma categoria')
			SET @Erro = 1
		END

		IF @Valor IS NULL OR @Valor <= 0
		BEGIN
			RAISERROR(50001, 10, 1, 'valor', 'Informe um valor maior que zero')
			SET @Erro = 1
		END

		IF @Data IS NULL
		BEGIN
			RAISERROR(50001, 10, 1, 'data', 'Informe a data da transação')
			SET @Erro = 1
		END

		IF @Erro = 1 RETURN 1

		IF @IdUser IS NULL
		BEGIN
			RAISERROR('Operação cancelada. Usuário nulo', 16, 1)
		END

		IF NOT EXISTS (
			SELECT Id
			FROM Categoria
			WHERE Id = @IdCategoria AND (IdUser = @IdUser OR IdUser IS NULL)
		)
		BEGIN
			RAISERROR('Operação cancelada. Não foi possível identificar a categoria informada pelo ID %d', 16, 1, @IdCategoria)
		END

		INSERT INTO Transacao(IdUser, [Desc], IdCategoria, valor, [data])
		VALUES (@IdUser, @Desc, @IdCategoria, @Valor, @Data)

		RETURN 0
	END TRY
	BEGIN CATCH
		SET @MsgErro = ERROR_MESSAGE()
		RAISERROR(@MsgErro, 16, 1)

		RETURN 1
	END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[FT_Transacao_Sel]    Script Date: 28/03/2026 11:28:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ================================================
-- Autor: Isac Macedo
-- Data criação: 25/03/2026
-- Descrição: Selecionar Registros da Tabela Transacao
-- ================================================

CREATE   PROCEDURE [dbo].[FT_Transacao_Sel](
	@IdUser INT = NULL
)
AS
BEGIN
	BEGIN TRY
		SET NOCOUNT ON

		DECLARE @MsgErro VARCHAR(255)

		IF @IdUser IS NULL
		BEGIN
			RAISERROR('Operação cancelada. Usuário nulo', 16, 1)
		END

		SELECT
			T.Id,
			T.[Desc],
			T.IdCategoria,
			C.Nome AS NomeCategoria,
			C.Tipo,
			T.valor,
			T.[data]
		FROM Transacao T
		INNER JOIN Categoria C ON C.Id = T.IdCategoria
		WHERE T.IdUser = @IdUser
		ORDER BY T.[data] DESC

		RETURN 0
	END TRY
	BEGIN CATCH
		SET @MsgErro = ERROR_MESSAGE()
		RAISERROR(@MsgErro, 16, 1)

		RETURN 1
	END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[FT_Transacao_Upt]    Script Date: 28/03/2026 11:28:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ================================================
-- Autor: Isac Macedo
-- Data criação: 25/03/2026
-- Descrição: Alterar Registros da Tabela Transacao
-- ================================================

CREATE   PROCEDURE [dbo].[FT_Transacao_Upt](
	@Id INT = NULL,
	@IdUser INT = NULL,
	@Desc VARCHAR(MAX) = NULL,
	@IdCategoria INT = NULL,
	@Valor MONEY = NULL,
	@Data DATETIME = NULL
)
AS
BEGIN
	BEGIN TRY
		SET NOCOUNT ON

		DECLARE @MsgErro VARCHAR(255), @Erro BIT

		IF @IdCategoria IS NULL
		BEGIN
			RAISERROR(50001, 10, 1, 'idCategoria', 'Selecione uma categoria')
			SET @Erro = 1
		END

		IF @Valor IS NULL OR @Valor <= 0
		BEGIN
			RAISERROR(50001, 10, 1, 'valor', 'Informe um valor maior que zero')
			SET @Erro = 1
		END

		IF @Data IS NULL
		BEGIN
			RAISERROR(50001, 10, 1, 'data', 'Informe a data da transação')
			SET @Erro = 1
		END

		IF @Erro = 1 RETURN 1

		IF @Id IS NULL
		BEGIN
			RAISERROR('Operação cancelada. Informe o ID da transação', 16, 1)
		END

		IF @IdUser IS NULL
		BEGIN
			RAISERROR('Operação cancelada. Usuário nulo', 16, 1)
		END

		IF NOT EXISTS (
			SELECT Id
			FROM Transacao
			WHERE Id = @Id AND IdUser = @IdUser
		)
		BEGIN
			RAISERROR('Operação cancelada. Não foi possível identificar a transação informada pelo ID %d', 16, 1, @Id)
		END

		IF NOT EXISTS (
			SELECT Id
			FROM Categoria
			WHERE Id = @IdCategoria AND (IdUser = @IdUser OR IdUser IS NULL)
		)
		BEGIN
			RAISERROR('Operação cancelada. Não foi possível identificar a categoria informada pelo ID %d', 16, 1, @IdCategoria)
		END

		UPDATE Transacao SET
			[Desc] = @Desc,
			IdCategoria = @IdCategoria,
			valor = @Valor,
			[data] = @Data
		WHERE Id = @Id AND IdUser = @IdUser

		RETURN 0
	END TRY
	BEGIN CATCH
		SET @MsgErro = ERROR_MESSAGE()
		RAISERROR(@MsgErro, 16, 1)

		RETURN 1
	END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[FT_Usuario_Del]    Script Date: 28/03/2026 11:28:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ================================================
-- Autor: Isac Macedo
-- Data criação: 25/03/2026
-- Descrição: Excluir Registros da Tabela Usuario
-- ================================================

CREATE   PROCEDURE [dbo].[FT_Usuario_Del](
	@Id INT = NULL
)
AS
BEGIN
	BEGIN TRY
		SET NOCOUNT ON

		DECLARE @MsgErro VARCHAR(255)

		IF @Id IS NULL
		BEGIN
			RAISERROR('Operação cancelada. Informe o ID do usuário a ser excluído', 16, 1)
		END

		IF NOT EXISTS (
			SELECT Id
			FROM Usuario
			WHERE Id = @Id
		)
		BEGIN
			RAISERROR('Operação cancelada. Não foi possível identificar o usuário informado pelo ID %d', 16, 1, @Id)
		END

		-- Exclui transações do usuário antes de excluir o usuário
		DELETE FROM Transacao WHERE IdUser = @Id

		-- Exclui categorias personalizadas do usuário
		DELETE FROM Categoria WHERE IdUser = @Id

		DELETE FROM Usuario WHERE Id = @Id

		RETURN 0
	END TRY
	BEGIN CATCH
		SET @MsgErro = ERROR_MESSAGE()
		RAISERROR(@MsgErro, 16, 1)

		RETURN 1
	END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[FT_Usuario_Ins]    Script Date: 28/03/2026 11:28:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ================================================
-- Autor: Isac Macedo
-- Data criação: 25/03/2026
-- Descrição: Inserir Registros da Tabela Usuario
-- ================================================

CREATE   PROCEDURE [dbo].[FT_Usuario_Ins](
	@Id INT = NULL,
	@Nome VARCHAR(100) = NULL,
	@Email VARCHAR(150) = NULL,
	@Senha VARCHAR(255) = NULL
)
AS
BEGIN
	BEGIN TRY
		SET NOCOUNT ON

		DECLARE @MsgErro VARCHAR(255), @Erro BIT

		IF NULLIF(TRIM(@Nome), '') IS NULL
		BEGIN
			RAISERROR(50001, 10, 1, 'nome', 'Informe o nome do usuário')
			SET @Erro = 1
		END

		IF LEN(@Nome) < 3
		BEGIN
			RAISERROR(50001, 10, 1, 'nome', 'O nome deve ter pelo menos 3 caracteres')
			SET @Erro = 1
		END

		IF NULLIF(TRIM(@Email), '') IS NULL
		BEGIN
			RAISERROR(50001, 10, 1, 'email', 'Informe o e-mail')
			SET @Erro = 1
		END

		IF @Email NOT LIKE '%_@_%.__%'
		BEGIN
			RAISERROR(50001, 10, 1, 'email', 'Informe um e-mail válido')
			SET @Erro = 1
		END

		IF NULLIF(TRIM(@Senha), '') IS NULL
		BEGIN
			RAISERROR(50001, 10, 1, 'senha', 'Informe a senha')
			SET @Erro = 1
		END

		IF LEN(@Senha) < 6
		BEGIN
			RAISERROR(50001, 10, 1, 'senha', 'A senha deve ter pelo menos 6 caracteres')
			SET @Erro = 1
		END

		IF @Erro = 1 RETURN 1

		IF EXISTS (
			SELECT Id
			FROM Usuario
			WHERE Email = @Email
		)
		BEGIN
			RAISERROR('Operação cancelada. Já existe um usuário cadastrado com este e-mail', 16, 1)
		END

		INSERT INTO Usuario(Nome, Email, Senha)
		VALUES (@Nome, @Email, @Senha)

		RETURN 0
	END TRY
	BEGIN CATCH
		SET @MsgErro = ERROR_MESSAGE()
		RAISERROR(@MsgErro, 16, 1)

		RETURN 1
	END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[FT_Usuario_Login]    Script Date: 28/03/2026 11:28:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ================================================
-- Autor: Isac Macedo
-- Data criação: 25/03/2026
-- Descrição: Login do Usuario
-- ================================================

CREATE   PROCEDURE [dbo].[FT_Usuario_Login](
	@Email VARCHAR(150) = NULL,
	@Senha VARCHAR(255) = NULL
)
AS
BEGIN
	BEGIN TRY
		SET NOCOUNT ON

		DECLARE @MsgErro VARCHAR(255), @Erro BIT

		IF NULLIF(TRIM(@Email), '') IS NULL
		BEGIN
			RAISERROR(50001, 10, 1, 'email', 'Informe o e-mail')
			SET @Erro = 1
		END

		IF NULLIF(TRIM(@Senha), '') IS NULL
		BEGIN
			RAISERROR(50001, 10, 1, 'senha', 'Informe a senha')
			SET @Erro = 1
		END

		IF @Erro = 1 RETURN 1

		IF NOT EXISTS (
			SELECT Id
			FROM Usuario
			WHERE Email = @Email AND Senha = @Senha
		)
		BEGIN
			RAISERROR('E-mail ou senha incorretos', 16, 1)
		END

		SELECT
			Id,
			Nome,
			Email
		FROM Usuario
		WHERE Email = @Email AND Senha = @Senha

		RETURN 0
	END TRY
	BEGIN CATCH
		SET @MsgErro = ERROR_MESSAGE()
		RAISERROR(@MsgErro, 16, 1)

		RETURN 1
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[FT_Usuario_Upt]    Script Date: 28/03/2026 11:28:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ================================================
-- Autor: Isac Macedo
-- Data criação: 25/03/2026
-- Descrição: Alterar Registros da Tabela Usuario
-- ================================================

CREATE   PROCEDURE [dbo].[FT_Usuario_Upt](
	@Id INT = NULL,
	@Nome VARCHAR(100) = NULL,
	@Email VARCHAR(150) = NULL
)
AS
BEGIN
	BEGIN TRY
		SET NOCOUNT ON

		DECLARE @MsgErro VARCHAR(255), @Erro BIT

		IF NULLIF(TRIM(@Nome), '') IS NULL
		BEGIN
			RAISERROR(50001, 10, 1, 'nome', 'Informe o nome do usuário')
			SET @Erro = 1
		END

		IF LEN(@Nome) < 3
		BEGIN
			RAISERROR(50001, 10, 1, 'nome', 'O nome deve ter pelo menos 3 caracteres')
			SET @Erro = 1
		END

		IF NULLIF(TRIM(@Email), '') IS NULL
		BEGIN
			RAISERROR(50001, 10, 1, 'email', 'Informe o e-mail')
			SET @Erro = 1
		END

		IF @Email NOT LIKE '%_@_%.__%'
		BEGIN
			RAISERROR(50001, 10, 1, 'email', 'Informe um e-mail válido')
			SET @Erro = 1
		END

		IF @Erro = 1 RETURN 1

		IF @Id IS NULL
		BEGIN
			RAISERROR('Operação cancelada. Informe o ID do usuário', 16, 1)
		END

		IF NOT EXISTS (
			SELECT Id
			FROM Usuario
			WHERE Id = @Id
		)
		BEGIN
			RAISERROR('Operação cancelada. Não foi possível identificar o usuário informado pelo ID %d', 16, 1, @Id)
		END

		IF EXISTS (
			SELECT Id
			FROM Usuario
			WHERE Email = @Email AND Id != @Id
		)
		BEGIN
			RAISERROR('Operação cancelada. Já existe outro usuário cadastrado com este e-mail', 16, 1)
		END

		UPDATE Usuario SET
			Nome = @Nome,
			Email = @Email
		WHERE Id = @Id

		RETURN 0
	END TRY
	BEGIN CATCH
		SET @MsgErro = ERROR_MESSAGE()
		RAISERROR(@MsgErro, 16, 1)

		RETURN 1
	END CATCH
END

GO
USE [master]
GO
