@page
@using FinTrack.Data
@inject DaoService Dao
@functions {
    public void OnGet()
    {
    }
}
@{
    ViewData["Title"] = "Registro";
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Criar Conta - FinTrack</title>
    <link rel="stylesheet" href="~/css/output.css" />
</head>
<body>

</body>
</html>